.player-box {
    display: flex;
    flex-direction: column;
    align-items: end;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 5px;
    width: 640px;
    height: 480px;
}

.video-container {
    flex-grow: 1;
    width: 100%;
}

.control-panel {
    display: flex;
    align-items: center;
    background-color: black;
    width: 100%;
}

.player-buttons {
    background: transparent;
    margin: 4px;
    padding: 4px;
    color: white;
    border: none;
    cursor: pointer;
}

.buttons-spacer {
    background: transparent;
    flex-grow: 1;
}