.player-box {
    display: flex;
    flex-direction: column;
    align-items: end;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 5px;
    width: 800px;
    height: 600px;
}

.video-container {
    flex-grow: 1;
    width: 100%;
}

.control-panel {
    display: flex;
    align-items: center;
    background-color: black;
    width: 100%;
}

.player-buttons {
    background: transparent;
    font-size: 20px;
    margin: 9px 10px 9px 6px;
    color: white;
    border: none;
    cursor: pointer;
    width: 20px;
    align-items: center;
}

.progress-bar {
    display: flex;
    align-items: center;
    background: transparent;
    flex-grow: 1;
}

.slider-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    cursor: pointer;
}

.slider {
    margin: 4px 8px;
    height: 5px;
    border-radius: 5px;
    background-color: #f8104d;
}

.slider-dot {
    margin-left: -15px;
    width: 7px;
    height: 7px;
    background-color: #f8104d;
    border: 3px solid white;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    transition-property: opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.progress-bar .slider-dot {
    opacity: 0.0;
}

.progress-bar:hover .slider-dot {
    opacity: 1.0;
}

.timer-block {
    margin: 4px 3px;
    font-style: normal;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 50px;
}